@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 20px;
  margin-bottom: 1em;
  text-align: center;
}

.wrapper {
  padding: 30px;
}

.region {
  margin: 1em 0 5rem 0;
  text-align: center;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.card {
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 20px;
  padding: 20px;
}

.card-primary {
  background-color: #4b4a67;
  color: #fff;
}

.card-danger {
  color: #fff;
  background-color: #ff784f;
}

.card-secondary {
  background-color: #88d498;
  color: #fff;
}

.form {
  padding: 15px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  padding: 8px;
  outline: 0;
  font-size: 15px;
  margin-bottom: 1em;
}

.submit-btn {
  font-size: 12px;
  padding: 8px;
  font-size: 15px;
  background-color: #ebf2fa;
  color: #000;
  border-radius: 5px;
}

.submit-btn:active {
  transform: scale(0.93);
}

.error {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: red;
}



@media (max-width: 1024px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 640px) {
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
